/*.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicador::before {
    content: '';
    border-radius: 10px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #09F;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}*/

.indicador::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid #09F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ani-indicador 1.5s infinite;
}

@keyframes ani-indicador {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}