@font-face {
    font-family: Netflix;
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Netflix;
    src: url('../../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Netflix, Helvetica, sans-serif;
    background-color: #000;
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

.vid {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.header {
    padding: 15px 15px 100px 15px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom, #000 0%, #000 50%, rgba(0, 0, 0, 0.5) 85%, transparent 100%);
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}

.nav.apa {
    /*border: solid 1px orange;*/
}

.nav-item {
    text-align: center;
}

.nav-item.apa {
    /*border: solid 1px green;*/
}

.featured {
    position: relative;
    margin-top: -90px;
}

.featured-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-image: linear-gradient(to top, #000 0%, #000 50%, rgba(0, 0, 0, 0.5) 85%, transparent 100%);
    background-image: linear-gradient(to top, #000 0%, transparent 100%);
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}


/*.tags li:first-child::before {
    content: '';
}*/

.tag:first-child::before {
    display: none;
}

.tag {
    display: flex;
}

.tag::before {
    content: '•';
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.featured-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
}