@font-face {
    font-family: Netflix;
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Netflix;
    src: url('../../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Netflix, Helvetica, sans-serif;
    background-color: #000;
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

.vid {
    max-width: 100%;
    width: 100%;
    height: auto;
    min-height: 300px;
}

.header {
    padding: 15px 15px 100px 15px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom, #000 0%, #000 50%, rgba(0, 0, 0, 0.5) 85%, transparent 100%);
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}

.nav.apa {
    /*border: solid 1px orange;*/
}

.nav-item {
    text-align: center;
}

.nav-item.apa {
    /*border: solid 1px green;*/
}

.featured {
    position: relative;
    margin-top: -90px;
    overflow: hidden;
}

.featured-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-image: linear-gradient(to top, #000 0%, #000 40%, rgba(0, 0, 0, 0.5) 85%, transparent 100%);
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}


/*.tags li:first-child::before {
    content: '';
}*/

.tag:first-child::before {
    display: none;
}

.tag {
    display: flex;
}

.tag::before {
    content: '•';
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.featured-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
}

.btn {
    border: none;
    background-color: #FFF;
    display: flex;
    align-items: center;
    padding: 5px 1em 5px 0.5em;
}

.btn.rad {
    border-radius: 2px;
}

.btn::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.btn-secnd {
    border: none;
    background: none;
    color: #FFF;
    font-size: 1.1em;
    min-width: 100px;
    cursor: pointer;
}

.btn-secnd::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.icon-plus::before {
    background: url('../../images/icons/plus.svg');
}

.icon-info::before {
    background: url('../../images/icons/info.svg');
}

.icon-play::before {
    background: url('../../images/icons/play.svg');
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista {
    padding: 0 1em;
}

.lista-contenido {
    white-space: nowrap;
    overflow-x: auto;
}

.lista-item {
    display: inline-block;
    margin-left: 10px;
}

.lista-item:first-child {
    margin-left: 0;
}

.creditos-est {
    padding: 0.5rem 0;
    text-align: center;
}

.creditos-est.apa {
    background: #212429;
    font-size: 11px;
    color: white;
}

.creditos a.apa {
    color: #F865B0;
    text-decoration: none;
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.99);
    padding: 1em 0 0;
}

.tab-lista {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
}

.tab-item {
    text-align: center;
    font-size: 0.9em;
}

.tab-item a {
    color: #6e6e6e;
}

.tab-item path {
    fill: #6e6e6e;
}

.tab-item svg {
    display: block;
    margin: 0 auto;
}

.tab-item:hover :is(path,
span) {
    fill: #FFF;
    color: #FFF;
}